@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-gentium-book {
      font-family: "Gentium Book Plus", serif;
  
    }

    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }

      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }

      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
  }

  .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-top: 20px;

  }
  
  .pagination li {
    margin: 0 5px;

  }
  
  .pagination a {
  
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  .pagination a:hover {
    background-color: #8282d7;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination .break-me {
    
    cursor: default;
  }
  
  .pagination-previous,
  .pagination-next {

    margin: 0 10px;
    cursor: pointer;
  }
  
  .pagination-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .modal-content-enter {
    width: 0;
  }
  
  .modal-content-enter-active {
    width: 80%;
    transition: width 0.3s ease-in-out;
  }
  
  .modal-content-leave {
    width: 80%;
  }
  
  .modal-content-leave-active {
    width: 0;
    transition: width 0.3s ease-in-out;
  }